<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <h1>Headlines</h1>
        <meta charset="utf-8">
        <form>
            <input type="text" name="publication" placeholder="search" />
            <input type="submit" value="Submit" />
        </form>
        <title></title>
    </head>
    <body>
        <!-- weather -->
        <h2>Current weather</h2>
            <p>City: <b>{{weather.city}}, {{weather.country}}</b></p>
            <p>{{weather.DESC}} | {{weather.temp}}&#8451;</p>
        <form>
            <input type="text" name="city" placeholder="weather search">
            <input type="submit" value="Submit">
        </form>
        <hr \>

        <!-- currency -->
        <h2>Currency</h2>
        <form>
        <!--
            from: <select name="currency_from">
                    <option value="USD">USD</option>
                    <option value="GBR">GBR</option>
                    <option value="EUR">EUR</option>
                    <option value="KRW">KRW</option>
                  </select>
           to: <select name="currency_to">
                   <option value="USD">USD</option>
                   <option value="GBR">GBR</option>
                   <option value="EUR">EUR</option>
                   <option value="KRW">KRW</option>
                 </select>
                 <input type="submit" value="Submit"> -->

            from: <select name="currency_from">
                {% for currency in currencies %}
                    <option value="{{currency}}"
                    {{'selected="selected"' if currency_from==currency}}>
                    {{currency}}</option>
                {% endfor %}
                </select>

            to: <select name="currency_to">
                {% for currency in currencies %}
                    <option value="{{currency}}"
                    {{'selected="selected"' if currency_to==currency}}>
                    {{currency}}</option>
                {% endfor %}
                </select>

            <input type="submit" value="Submit">
        </form>
        1 {{currency_from}} = {{currency_to}} {{rate}}


        <!-- news -->
        <h1>Headlines</h1>
        {% for article in articles %}
            <b><a href="{{article.link}}"> {{article.title}}</a></b> <br/>
            <i>{{article.published}}</i> <br/>
            <p>{{article.summary}}</p> <br/>
            <hr \>
        {% endfor %}
    </body>
</html>
